<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Name tsvector:</strong>
  <%= @item.name_tsvector %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @item.meaning %>
</p>

<p>
  <strong>Readings:</strong>
  <%= @item.readings %>
</p>

<p>
  <strong>Readings tsvector:</strong>
  <%= @item.readings_tsvector %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
